@inherits LayoutComponentBase
@using Sotsera.Blazor.Toaster

<ToastContainer />

<div class="sidebar">
  <NavMenu />
</div>

<div class="main main-bg">
  <div class="top-row px-4 pt-3 size-header">
    <p style="color: white">Panel de Control<span><img src="/images/logo-bbb.png" style="height: 38px" class="ml-2" alt="logo-bbb" /></span></p>
  </div>

  <div class="content px-4">
    @Body
  </div>
</div>
