@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 pt-3 size-header">
        <p style="font-family: 'Segoe UI'; font-size: 1em">[ Panel de Control ]<span><img src="/images/logo-bbb.jpg" style="height: 38px" class="ml-2" alt="logo-bbb"/></span></p>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
