<div class="top-row pl-4 navbar navbar-dark size-header" style="background-color: #a82682">
    <div class="logo-comunidades">
      <img src="/images/logo-comunidades-unr.png" alt="logo-comunidades-unr" />
    </div>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="background-color: #a82682">
  <ul class="nav flex-column">
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-cog" aria-hidden="true" style="margin-top: 5px"></span> Configuración
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="info">
        <span class="oi oi-info" aria-hidden="true" style="margin-top: 5px"></span> Información
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="salas">
        <span class="oi oi-list" aria-hidden="true" style="margin-top: 5px"></span> Salas
      </NavLink>
    </li>
  </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
