@page "/estadisticas"

<div class="card">
  <div class="card-header">
    Estadísticas
    <span class="oi oi-bar-chart" aria-hidden="true" style="margin-top: 5px; float: right"></span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Versión</h5>
            <p class="card-text">BBB Version: ... <br /></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Salas</h5>
            <p class="card-text">Cantidad salas: ... <br />Salas activas: ...</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>


