@page "/estadisticas"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Control_BBB_Blazor.Data
@using System.Xml;

<div class="card">
  <div class="card-header">
    Estadísticas
    <span class="oi oi-bar-chart" aria-hidden="true" style="margin-top: 5px; float: right"></span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Versión</h5>
            <p class="card-text">
              BBB versión:
              @if (version == -1)
              {
                <span><i> @message</i></span>
              } 
              else
              {
                @version.ToString(System.Globalization.CultureInfo.InvariantCulture)
              }
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Salas</h5>
            <p class="card-text">Total: ...   Activas: ...</p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

@code {
  [Inject]
  protected Sotsera.Blazor.Toaster.IToaster Toaster { get; set; }

  private double version { get; set; } = -1;
  public string message { get; set; } = "Cargando...";
  private readonly HttpClient httpClient = new HttpClient();
  private BBBVersion bBBVersion;

  protected override async Task OnInitializedAsync()
  {
    try
    {     
      HttpResponseMessage response = await httpClient.GetAsync(await localStorage.GetItemAsync<string>("url"));
      string stringCR = await response.Content.ReadAsStringAsync();

      if (response.IsSuccessStatusCode)
      {
        XmlDocument doc = new XmlDocument();
        doc.LoadXml(stringCR);
        string json = JsonConvert.SerializeXmlNode(doc.DocumentElement.SelectSingleNode("version"));
        bBBVersion = JsonConvert.DeserializeObject<BBBVersion>(json);
        version = bBBVersion.Version;
      }
      else
      {
        Toaster.Error("Ocurrió un error.", "Oops!");
        message = "Error...";
      }
    }
    catch (HttpRequestException e)
    {
      Console.WriteLine(e);
      Toaster.Error("Ocurrió un error.", "Oops!");
      message = "Error...";
    }
  }
}

