@page "/servidor"

<div class="card text-white bg-dark">
  <div class="card-header">
    <span style="font-size: 1.2em;">Servidor</span>
    <span class="oi oi-hard-drive" aria-hidden="true" style="margin-top: 5px; float: right"></span>
  </div>
  <div class="card-body">
  </div>
</div>
    
@code {

}

